
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'KosugiMaru-Regular', sans-serif;
}

/* @font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
} */
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('./KosugiMaru-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
  

body{

    background-color: #0E0605;
}

.content{

    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 30% 70%;

}

.containerImg{
    height: 100vh;
    background-image: url(./japFood1.png);

}

.containerPresentation{
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 70px;

    padding: 0 0 0 30px;
}

.containerTitlePresentation > p:nth-child(2){

    font-size:5rem;
}


.textPresentation{
    user-select: none;
    color: #5F4A30;

    transition: all .12s ease-in-out;

}

.textPresentation:hover{

    filter: brightness(2);
}

.containerFloatMenu{

    position: absolute;
    width: 440px;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;

    border-radius: 16px;
    backdrop-filter: blur(10px);

    /* box-shadow:  0 0 15px #DBAF57; */

    outline: 2px solid #dbaf57;

    padding: 10px;

}

.containerFloatMenu > p:nth-child(1){

    cursor: pointer;

    padding: 10px 16px;
    border-radius: 16px;
    transition: all .12s ease-in-out;

    outline-width: 0px;

    
}
.containerFloatMenu:nth-child(2){

    cursor: pointer;
    
}

.containerNameRestaurant > p:nth-child(2){

    transition: all .12s ease-in-out;

}

.containerNameRestaurant:hover > p:nth-child(2){

    filter: brightness(1.5);
}
.containerFloatMenu > p:nth-child(3){

    cursor: pointer;

    padding: 10px 16px ;
    border-radius: 16px;
    transition: all .13s ease-in-out;

    /* outline: 2px transparent #DBAF57; */
    
}

.containerFloatMenu > p:nth-child(1):hover{

    /* background-color: #0E0605; */
    background-color: #dbaf57;
    color: #0E0605;

    /* color: #dbaf57; */
    /* outline: 2px solid #DBAF57; */
    
}

.containerFloatMenu > p:nth-child(3):hover{

    /* background-color: #0E0605; */
    background-color: #dbaf57;
    color: #0E0605;
    /* color: #dbaf57; */

    /* outline: 2px solid #DBAF57; */

    
}

.containerNameRestaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.textFloatMenu{
    color: #fff;
}

p{
    color: #fff;
}

.japLetters{

    color: #DBAF57;
    letter-spacing: 4px;
}

.titlePresentation{

    font-size: 3.5rem;
    font-weight: bold;
    user-select: none;

    transition: all .13s ease-in-out;

}

.titlePresentation:hover{

    filter: brightness(1.3);
}

.btnMenu{

    background-color: #BA8F47;

    padding: 16px;

    width: 200px;

    text-align: center;

    border-radius: 100px;

    transition: all .13s ease-in-out;

    cursor: pointer;

    user-select: none;
}


.btnMenu:hover{

    filter: brightness(1.5);

}

.hoverBtnBrightness{ animation: hoverBtnBrightness .12s linear both;}

@keyframes hoverBtnBrightness{
    0%{
        filter: brightness(1);
    }

    25%{
        filter: brightness(1.1);
    }

    50%{
        filter: brightness(1.2);
    }

    75%{
        filter: brightness(1.3);
    }

    100%{
        filter: brightness(1.4);    
    }
}

/* MENU------------------------------------------------------------------------------- */

.containerItemsMenu{
    
    width: 100vw;

    display: grid;
    
    /* grid-template-columns: repeat(auto-fit, minmax(400px,max-content)); */
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2, 300px);

    /* justify-content: center; */
    place-content: center;

    gap: 30px;
}

.itemMenu{

    border-radius: 16px;

    border-style: solid;
    border-color: #EFC279;
    border-width: 4px;

}