
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'KosugiMaru-Regular', sans-serif;
}

/* @font-face {
    font-family: 'Roboto-Regular';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
} */
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('./KosugiMaru-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
  

body{

    background-color: #0E0605;
}

.content{

    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 30% 70%;

}

.containerImg{
    height: 100vh;
    background-image: url(./japFood1.png);
    opacity: 0;

}

.containerPresentation{
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 70px;

    padding: 0 0 0 30px;

    opacity: 0;
}

.containerTitlePresentation > p:nth-child(2){

    font-size:5rem;
}


.textPresentation{
    user-select: none;
    color: #5F4A30;

    transition: all .2s ease-in-out;

}

.textPresentation:hover{

    filter: brightness(2);
}

.containerFloatMenu{

    position: absolute;
    width: 440px;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;

    border-radius: 16px;
    backdrop-filter: blur(10px);

    /* box-shadow:  0 0 15px #DBAF57; */

    outline: 2px solid #dbaf57;

    padding: 10px;
    user-select: none;

}

.containerFloatMenu > p:nth-child(1){

    cursor: pointer;

    padding: 10px 16px;
    border-radius: 16px;
    transition: all .12s ease-in-out;

    outline-width: 0px;

    
}
.containerFloatMenu:nth-child(2){

    cursor: pointer;
    
}

.containerNameRestaurant > p:nth-child(2){

    transition: all .12s ease-in-out;

}

.containerNameRestaurant:hover > p:nth-child(2){

    filter: brightness(1.5);
}
.containerFloatMenu > p:nth-child(3){

    cursor: pointer;

    padding: 10px 16px ;
    border-radius: 16px;
    transition: all .13s ease-in-out;

    /* outline: 2px transparent #DBAF57; */
    
}

.containerFloatMenu > p:nth-child(1):hover{

    transform: scale(1.05);
    background-color: #dbaf57;
    color: #0E0605;

}

.containerFloatMenu > p:nth-child(3):hover{

    transform: scale(1.05);
    background-color: #dbaf57;
    color: #0E0605;
 
}

.containerNameRestaurant{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.textFloatMenu{
    color: #fff;
}

p{
    color: #fff;
}

.japLetters{

    color: #DBAF57;
    letter-spacing: 4px;
}

.titlePresentation{

    font-size: 3.5rem;
    font-weight: bold;
    user-select: none;

    transition: all .13s ease-in-out;

}

.titlePresentation:hover{

    filter: brightness(1.3);
}

.btnMenu{

    background-color: #BA8F47;

    padding: 16px;

    width: 200px;

    text-align: center;

    border-radius: 100px;

    transition: all .13s ease-in-out;

    cursor: pointer;

    user-select: none;
}


.btnMenu:hover{
    transform: scale(1.05);
    filter: brightness(1.5);

}

.hoverBtnBrightness{ animation: hoverBtnBrightness .12s linear both;}

@keyframes hoverBtnBrightness{
    0%{
        filter: brightness(1);
    }

    25%{
        filter: brightness(1.1);
    }

    50%{
        filter: brightness(1.2);
    }

    75%{
        filter: brightness(1.3);
    }

    100%{
        filter: brightness(1.4);    
    }
}

.blur-out-contract{animation:blur-out-contract .3s linear both} 

@keyframes blur-out-contract{
    0%{
        position: absolute;
        transform:scale(1);
        filter:blur(.01px);
        
    }
    100%{
        position: absolute;
        transform:scale(0);
        filter:blur(12px);
        opacity:0
    }
}

/* MENU------------------------------------------------------------------------------- */

.containerItemsMenu{
    
    width: 100vw;

    display: grid;
    
    /* grid-template-columns: repeat(auto-fit, minmax(400px,max-content)); */
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2, 300px);

    /* justify-content: center; */
    place-content: center;

    gap: 30px;
}

.itemMenu{

    border-radius: 16px;

    border-style: solid;
    border-color: #EFC279;
    border-width: 4px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    cursor: pointer;
}

.containerNameItem{

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 16px;
    backdrop-filter: blur(10px);

    color: #fff;

    /* border-radius: 0 0 16px 16px; */
    border-radius: 10px;
    user-select: none;
    pointer-events: none;
}

.item1{

    background: url(./sushiNew.png);
    background-size: cover;
    background-position: center;
}
.item2{

    background: url(./ramen.png);
    background-size: cover;
    background-position: center;
}
.item3{

    background: url(./udon.png);
    background-size: cover;
    background-position: center;
}
.item4{

    background: url(./yakitori.png);
    background-size: cover;
    background-position: center;
}
.item5{

    background: url(./tempuraNew.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item6{

    background: url(./okonomiya.png);
    background-size: cover;
    background-position: center;
}

.itemMenu:hover{

    transform: scale(0.95);

}

.blur-out{
    animation:blur-out .3s linear both;
} 

@keyframes blur-out{
    0%{
        filter:blur(0px);
        opacity:1
    }
    100%{
            filter:blur(12px);
            opacity:0
    }
}


/* CONTACT------------------------------------------------------------------------------- */

.containerItemsContact{

    background: url('./tree.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 30px;
    

}

.itemsContact{

    width: 500px;
    height: 300px;

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    backdrop-filter: blur(10px);

    border: solid 4px #A66918;
}

.containerInfoContact{

    display: flex;
    gap: 30px;

}

.containerInfoAddress{
    display: flex;

    gap: 30px;
}

.pInfoAddress{
    margin: auto;
    font-size: 1.1rem;
}

.pInfoContact{
    margin: auto;
    font-size: 1.1rem;

}

.titleContact{
    position: absolute;

    top: 30px;
    font-size: 1.5rem;
}

.titleAddress{
    position: absolute;

    top: 30px;
    font-size: 1.5rem;
}


@media screen and (max-width: 560px){
    
    


    .itemsContact{

        width: 350px;
        height: 200px;
    }


    


}
@media screen and (max-width: 460px){
    
    .containerNameRestaurant{

        font-size: 1rem;
    }
    .containerFloatMenu{

        width: 350px;

        gap: 10px;
    }


}
@media screen and (max-width: 1321px){
    
    .containerItemsMenu{

        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 300px);

        margin: 150px 0;
        transition: all .13s ease-in-out;

    }

    .content{
         
        height: auto;
    }

}
@media screen and (max-width: 896px){
    
    .containerItemsMenu{

        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 200px);

        margin: 150px 0;
    }

    .content{
         
        height: auto;
    }

}
@media screen and (max-width: 678px){
    
    .containerItemsMenu{

        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 200px);

        margin: 150px 0;
    }

    .content{
         
        height: auto;
    }

}